form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0,0, 0.1);
  flex-direction: column;
}

.button{background-color: #131212;}

table{
  width: 100%;
  margin-top: 20px;
  background-color: aliceblue;
  border-radius: 8px;

}

td{
  padding: 12px 15px;
  text-align: center;
}

th{
  background-color: #353434;
  color: aliceblue;

}

tr:hover{
  background-color: #fff;

}
  
